.content-text::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/radioactivite.svg') no-repeat center center;
}

.content-text{
    background:red!important;
}   

h1,h2{
    background:blue!important;
}