/*
 * Skin for jPlayer Plugin (http://jplayer.org/)
 * jPlayer Version: 2.1.0
 *
 * Skin Name: Premium Pixels
 * Author: @thelukemcdonald (lukemcdonald.com)
 * Description: A responsive CSS3 jPlayer skin with playlist funcitonality. Design by @ormanclark (premiumpixels.com).
 * Version: 2.0
 * Tags: audio, playlist, dark, play, pause, volume-bar, progress-bar
 *
  *************************************************************
 * Date: 19rd March 2013
 * Customized for Musique Approximative 
 * By Constructions Incongrues www.constructions-incongrues.net
 *************************************************************
 *
/* DEMO STYLES
----------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: background-color, border-color, color, opacity;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.15s;
  -khtml-transition-property: background-color, border-color, color, opacity;
  -khtml-transition-timing-function: linear;
  -khtml-transition-duration: 0.15s;
  -moz-transition-property: background-color, border-color, color, opacity;
  -moz-transition-timing-function: linear;
  -moz-transition-duration: 0.15s;
  -o-transition-property: background-color, border-color, color, opacity;
  -o-transition-timing-function: linear;
  -o-transition-duration: 0.15s;
  transition-property: background-color, border-color, color, opacity;
  transition-timing-function: linear;
  transition-duration: 0.15s;
}

/* GENERAL
----------------------------------------------- */

.jp-jplayer {
  width: 0px;
  height: 0px;
  background-color: #000000;
}

.jp-audio {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0 0;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #fff;
  line-height: 1.6;
}

.jp-audio a {
  color: #555050;
  text-decoration: none;
}

.jp-audio a:hover {
  color: #000;
}

.jp-interface {
  position: relative;
  height: 75px;
  width: 100%;
}

/* CONTROLS
----------------------------------------------- */

@media all and (max-width: 800px) {
  .jp-controls {
    text-align: left;
  }
}

@media all and (min-width: 800px) {
  .jp-controls {
    text-align: center;
  }
}

.jp-controls {
  list-style-type: none;
  padding: 30px 0 0 0;

  z-index: 100;
}

.jp-controls:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 30px;
  width: 0;
  height: 30px;
}

.jp-controls ul {
  display: inline;
}

.jp-controls li {
  display: inline-block;
  vertical-align: top;
}

.jp-controls a {
  color: #fff;
  font-family: "Rambla", sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: #000;
  padding: 8px 12px;
  display: inline-block;
  text-indent: 0 !important;
  overflow: visible !important;
  width: auto !important;
  height: 40px !important;
  line-height: normal;
}

.jp-controls {
  color: #000;
  font-size: 15px;
  font-size: 1.5rem;
}

.jp-controls a:hover,
.jp-controls a.not {
  background-color: #aaa;
  color: #000;
}

.jp-play,
.jp-pause {
  z-index: 1;
  outline: none;
  background-repeat: no-repeat;
}

/* PROGRESS BAR
----------------------------------------------- */
.jp-progress {
  position: absolute;
  padding: 0px 1px 0 0px;

  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.jp-seek-bar,
.jp-play-bar {
  width: 0px;
  height: 5px;
}

.jp-seek-bar {
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.jp-seek-bar:before {
  content: " ";
  display: block;
  background: transparent;

  width: 100%;
  position: relative;
  top: -16px;
  left: -1px;

  background-color: #aaa;
  height: 35px;
}

.jp-play-bar {
  position: absolute;

  background: #000;
  height: 35px;
  top: -16px;
}

/* VOLUME BAR
----------------------------------------------- */
#jp_container_1 .jp-volume-bar {
  display: block !important;
  position: relative !important;
  margin: 10px auto 0 !important;
  width: 100px !important;
  height: 8px !important;
  background-color: #aaa !important;
  cursor: pointer !important;
  z-index: 1000 !important;
}

#jp_container_1 .jp-volume-bar-value {
  display: block !important;
  background-color: #000 !important;
  height: 8px !important;
  width: 0;
}

/* TIME HOLDER
----------------------------------------------- */
.jp-time-holder {
  background: transparent;
  font-family: "Rambla", sans-serif;
  position: absolute !important;
  font-size: 1.5em;
  top: 30px !important;
  right: 0 !important;
  color: #000 !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  width: auto !important;
  height: auto !important;
  text-align: right;
  box-sizing: border-box;
}

.jp-current-time {
  display: inline-block;
  text-align: right;
  color: #000;
}

.jp-duration:before {
  content: "/";
}

.jp-duration {
  display: inline-block;
  text-align: right;
  color: #000;
}

/* CSS3 ANIMATINS
----------------------------------------------- */
/* Progress Bar Animation */
@-webkit-keyframes progress {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -7px;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -7px;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -7px;
  }
}

@-o-keyframes progress {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -7px;
  }
}

@keyframes progress {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -7px;
  }
}
