# yaml-language-server: $schema=../schemas/recettes.schema.json

# Recettes pour les desastres saisonniers et speciaux
recettes:
  # Recette "spooky" spécialement pour les chouchouxes
  spooky:
    enabled: true
    desastre: redirect
    options:
      url: https://sos.musiqueapproximative.net
      seconds: 3

  # Recette "quickos" pour les fêtes
  quickos:
    enabled: true
    desastre: redirect
    options:
      url: https://quickoschantenoel.musiqueapproximative.net/?play=1
      seconds: 3
