# Recettes pour les desastres thematiques
recettes:
  # Recette "amour"
  amour:
    enabled: true
    desastre: amour

  # Recette "robot"
  robot:
    enabled: true
    desastre: robot

  # Recette "fish"
  fish:
    enabled: true
    desastre: fish

  # Recette "mort"
  mort:
    enabled: true
    desastre: postillons
    options:
      imageFolder: /desastres/mort/img
      imageBaseName: cimetiere
      imageExtension: png
      imageCount: 20
      tombSize: 120
      delay: 800

  # Recette "mamie"
  mamie:
    enabled: true
    desastre: mamie
    options:
      volume: 0.5

  # Recette "musique"
  musique:
    enabled: true
    desastre: musique
    scripts:
      - https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js
