# yaml-language-server: $schema=../schemas/regles.schema.json

# Regles pour les desastres de couleurs
regles:
  # Desastre "bleu" sur le titre ou l'artiste
  - query: "query.title ~ /.*bleu.*/i || query.artist ~ /.*bleu.*/i"
    recettes: [bleu]
    probability: 0.7

  # Desastre "noir" : declanche si le titre contient "noir" ou "black"
  - query: "query.title ~ /.*(noir|black).*/i"
    recettes: [noir]
    probability: 0.7

  # Desastre "light" : declanche si le titre contient "light" ou "lumiere"
  - query: "query.title ~ /.*(light|lumiere).*/i"
    recettes: [light]
    probability: 0.7
