---
name: Lint

on:
  push:
    branches: [main, master, develop]
  pull_request:
    branches: [main, master, develop]

permissions: {}

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Installer Asciidoctor
        run: sudo apt-get install -y asciidoctor

      - name: Valider les fichiers AsciiDoc
        run: |
          find . -name "*.adoc" -not -path "*/vendor/*" -not -path "*/node_modules/*" -not -path "./build/*" -not -path "./var/*" -exec asciidoctor --failure-level WARNING -o /dev/null {} +

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          check-mode: ${{ github.event_name == 'push' && 'all' || 'changes' }}
