name: Trunk Check PR Annotation

on:
  workflow_run:
    workflows: [Pull Request]
    types:
      - completed

permissions: read-all

jobs:
  trunk_check_annotate_pr:
    name: Trunk Check PR Annotation
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          post-annotations: true